* {
    padding: 0;
    margin: 0;
    font-family: 'Signika', sans-serif;
    text-transform: uppercase;
    color: white;
    text-shadow:
        -0.5px -0.5px 0 #000,
        0.5px -0.5px 0 #000,
        -0.5px 0.5px 0 #000,
        0.5px 0.5px 0 #000;
}
:root {
    --main-bg: rgba(31, 30, 43, 0.1);
    --slot-bg: rgba(31, 30, 43, 0.6);
    --slot-full-opacity: rgba(31, 30, 43, 1.0);
    --item-name-bg: rgba(31, 30, 43, 0.8);
    --bright-purple: rgba(100,54,237, 0.9);
}

.ui {
    position: relative;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.35);
    display: none;
    z-index: 0;
}

.inventory {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 1550px;
    height: 600px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .4);
    background-color: var(--main-bg);
}

#playerInventory {
    width: 625px;
    height: 600px;
    float: left;
    overflow-y: scroll;
}

#controls {
    width: 300px;
    height: 600px;
    float: left;
    position: relative;
    background-color: var(--main-bg);
    left: 0;
    top: 0;
}

#otherInventory {
    width: 625px;
    height: 600px;
    float: left;
    overflow-y: scroll
}

#count {
    border: none;
    outline: none;
    font-size: 18px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.slot {
    float: left;
    width: 117px;
    height: 117px;
    background-color: var(--slot-bg);
    margin: 2px;
    position: relative;
}

.slot:hover {
    /* opacity: 0.8; */
    /* border: 1px solid var(--text-color); */
    background-color: var(--slot-full-opacity);
    filter: drop-shadow(0 0 0.45rem var(--bright-purple));
    transform: scale(1.2);
    position: absolute;
    z-index: 600;
}

.slot-wrapper {
    display: inline-block;
    width: 117px;
    height: 117px;
}

.item,
.item-other {
    width: 117px;
    height: 117px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.item-name {
    position: absolute;
    bottom: 0;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 117px;
    min-height: 20px;
    z-index: 500;
    font-size: 12px;
    background-color: var(--item-name-bg);
}

.ui-draggable-dragging .item-name,
.ui-draggable-dragging .item-count {
    display: none;
}

.item-count {
    position: absolute;
    top: 0;
    text-align: right;
    width: 114px;
    height: 20px;
    z-index: 500;
}

.ammoIcon {
    width: 10px;
    height: 10px;
}

.info-div {
    text-align: center;
    padding: 5px;
    background-color: var(--slot-bg);
    width: 80%;
    position: absolute;
    left: 50%;
    top: 15%;
    transform: translate(-50%, -50%);
}

.controls-div {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.control {
    width: 150px;
    height: 40px;
    background-color: var(--slot-bg);
    margin: 10px;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
}

.control.disabled {
    background-color: var(--main-bg);
}

.hoverControl {
    background-color: var(--bright-purple);
}

.item-name-bg {
    width: 100%;
    width: 117px;
    height: 20px;
    position: absolute;
    bottom: 0;
}

#playerInventory::-webkit-scrollbar-track,
#otherInventory::-webkit-scrollbar-track {
    background-color: rgba(31, 30, 43, 0.4);
    border: none;
}

#playerInventory::-webkit-scrollbar,
#otherInventory::-webkit-scrollbar {
    width: 10px;
    background-color: rgba(31, 30, 44, 0.4);
}

#playerInventory::-webkit-scrollbar-thumb,
#otherInventory::-webkit-scrollbar-thumb {
    background-color: rgba(31, 30, 43);
    border: 2px solid var(--bright-purple);
}

.nearbyPlayerButton {
    width: 100%;
    margin-top: 5px;
    display: block;
    text-decoration: none;
    padding: 2px;
    color: rgba(255, 255, 255, 0.85);
    background-color: rgba(63, 57, 83, 0.226);
    text-shadow: none;
    font-size: 14px !important;
    outline: none;
    text-transform: none;
    text-align: center;
    line-height: 30px;
    border: none;
}

.nearbyPlayerButton:hover {
    background-color: rgba(34, 29, 46, 0.8);
}

#noSecondInventoryMessage {
    width: 615px;
    height: 580px;
    line-height: 580px;
    text-align: center;
}

.hideSecondInventory {
    display: none;
}

@media (max-width: 1500px) {
    .inventory {
        width: 1300px;
    }

    #playerInventory {
        width: 550px;
    }

    #controls {
        width: 200px;
    }

    #otherInventory {
        width: 550px;
    }

    #noSecondInventoryMessage {
        width: 540px;
    }
}

@media (max-width: 1300px) {
    .inventory {
        width: 1000px;
    }

    #playerInventory {
        width: 425px;
    }

    #controls {
        width: 150px;
    }

    #otherInventory {
        width: 425px;
    }

    #noSecondInventoryMessage {
        width: 420px;
    }
}